version: "3"
services:
  nginx:
    build:
      dockerfile: requirements/nginx/Dockerfile
    volumes:
      - ../../data/nginx_data:/var/run
      - ../../data/wp_data:/var/www/public_html
    networks:
      - inception-net
    depends_on:
      - wp
    env_file:
      - .env
    ports:
      - "443:443"
    restart: always

  db:
    networks:
      - inception-net
    build:
      dockerfile: requirements/maria_db/newDockerfile
    ports:
      - "3306:3306"
    env_file:
      - .env
    volumes:
      - ../../data/mariadb_data:/var/lib/mysql
    restart: always

  wp:
    networks:
      - inception-net
    build:
      dockerfile: requirements/wp/Dockerfile
    ports:
      - "9000:9000"
    depends_on:
      - db
    volumes:
      - ../../data/wp_data:/var/www/public_html
    env_file:
      - .env
    restart: always

volumes:
  mariadb_data:
    driver: local

networks:
  inception-net:
    driver: bridge