version: '3'
services:
  nginx:
    build:
      dockerfile: ./mandatory/nginx/Dockerfile
    volumes:
      - ./nginx_data:/var/run
      - ./wp_data:/var/www/html
    networks:
      - inception-net
    depends_on:
      - wp
    links:
      - wp
    env_file:
      - .env
    ports:
      - "443:443"
    restart: on-failure

  db:
    networks:
      - inception-net
    build:
      dockerfile: ./mandatory/maria_db/Dockerfile
    ports:
      - "3306:3306"
    env_file:
      - .env
    volumes:
      - ./mariadb_data:/var/lib/mysql
    restart: always

  wp:
    networks:
      - inception-net
    build:
      dockerfile: ./mandatory/wp/Dockerfile
    ports:
      - "9000:9000"
    depends_on:
      - db
    volumes:
      - ./wp_data:/var/www/html
    env_file:
      - .env

volumes:
  mariadb_data:
    driver: local

networks:
  inception-net:
    driver: bridge