services:
  nginx:
    build:
      dockerfile: ./mandatory/nginx/Dockerfile
    volumes:
      - ./:/var/run
    networks:
      - inception-net
    ports:
      - "4443:443"
    restart: on-failure

  db:
    networks:
      - inception-net
    build:
      dockerfile: ./mandatory/maria_db/Dockerfile
    ports:
      - "3306:3306"
    restart: on-failure

networks:
  inception-net: {}
